.login-page
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.message
{
    padding: 15px;
    font-weight: bold;
}

.message:empty
{
    display: none;
}

form .row {
    margin-bottom: 8px;
}

form input {
    margin-bottom: 4px;
}