.login-page
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.message
{
    padding: 15px;
    font-weight: bold;
}

.message:empty
{
    display: none;
}

form .row {
    margin-bottom: 8px;
}

form input {
    margin-bottom: 4px;
}

.notifications h4 {
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}

.notifications {
    position: absolute;
    z-index: 10;
    margin-left: -30px;
    top: 62px;
}